/* Estilos Gerais */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* Cores principais */
    --primary-color: #FF6F00; /* Laranja vibrante */
    --secondary-color: #E65100; /* Laranja escuro */
    --accent-color: #2196F3; /* Azul Claro */
    --highlight-color: #4CAF50; /* Verde Menta */
    --warning-color: #FFEB3B; /* Amarelo Claro */
    
    /* Cores neutras */
    --dark-gray: #212121; /* Preto suave */
    --medium-gray: #757575; /* Cinza Médio */
    --light-gray: #BDBDBD; /* Cinza Claro */
    --off-white: #F5F5F5; /* Cinza Claro Neutro */
    --white: #FFFFFF; /* Branco */

    /* Tons complementares do laranja */
    --light-orange: #FF9E40; /* Laranja Claro */
    --soft-orange: #FFB74D; /* Laranja Suave */
    --deep-orange: #BF360C; /* Laranja Profundo */

    --white-color: #FFFFFF;
    
}

body {
    background-image: url('img/contruction-1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
}

/*---------- Menu ----------*/
.menu {
    height: 5rem;
    background-color: var(--dark-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    margin-right: calc(-1 * (100vw - 100%));
    z-index: 1000;
}

.img-logo-menu{
    /* width: 25px; */
    width: 11rem;
}

.menu-options {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.option {
    display: flex;
    align-items: center;
}

.title-option {
    position: relative;
    color: var(--white-color);
    font-size: 1.2rem;
    margin: 0;
    cursor: pointer;
    transition: color 0.3s;
}

.title-option:hover {
    color: var(--primary-color);
}

.title-option::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: width 0.3s;
}

.title-option:hover::after {
    width: 100%;
}

/*---------- Botão Menu ----------*/
.btn-option {
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1rem;
    padding: 8px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-weight: 600;
}

.btn-option:hover {
    background-color: var(--secondary-color);
    transform: translateY(-4px);
}

.btn-option:focus {
    outline: none;
    box-shadow: 0 0 10px var(--deep-orange);
}

.btn-option:active {
    transform: translateY(2px);
}

/*---------- Imagem Wpp ----------*/
.wpp {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
  }

.img-wpp{
    width: 2.5rem;
}

/*---------- Header do conteúdo ----------*/
.content-header {
    position: relative;
    z-index: 10;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img-logo-content{
    width: 90%;
}

.info-content{
    color: var(--white-color);
    font-size: 28px;
    line-height: 1.5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.btn-header {
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1.2rem;
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.btn-header:hover {
    background-color: var(--secondary-color);
    transform: translateY(-4px);
}

.btn-header:focus {
    outline: none;
    box-shadow: 0 0 10px var(--deep-orange);
}

.btn-header:active {
    transform: translateY(2px);
}

/*---------- Menu Hambúrguer e Menu Lateral ----------*/
.hamburger-menu {
    display: none;
}

#sideMenu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background-color: var(--dark-gray);
    z-index: 20;
    transition: left 0.3s ease;
}

#sideMenu.open {
    left: 0;
}

#sideMenu .option {
    padding: 15px;
    border-bottom: 1px solid var(--medium-gray);
}

#sideMenu .option p {
    color: var(--white-color);
    font-size: 1.2rem;
}

.btn-hamburger-menu {
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--white-color);
    cursor: pointer;
    transition: color 0.3s, transform 0.2s;
}

.btn-hamburger-menu:hover {
    color: var(--primary-color);
    transform: rotate(90deg);
}

@media (max-width: 768px) {
    .hamburger-menu {
        display: block;
    }
    
    .menu-options {
        display: none;
    }

    .content-header{
        padding-top: 5rem;
    }
}

/*---------- Itens do menu lateral ----------*/
.side-menu-option {
    padding: 15px 20px;
    color: var(--white-color);
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.side-menu-option:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.side-menu-option.active {
    background-color: var(--secondary-color);
    color: var(--white-color);
}

/*---------- Servicços ----------*/
.servicos{
    /* width: 100%; */
    background-color: var(--dark-gray);
}

.title-service{
    color: var(--primary-color);
    font-weight: 700;
}

.img-service{
    border-radius: 16px;
}

.title-img-service{
    color: var(--off-white);
    font-weight: 700;
}

.info-service{
    color: var(--off-white);
}


/*---------- Sobre nos ----------*/
.title-founders{
    color: var(--primary-color);
    font-weight: 700;
}

.card-img-founders{
    width: 150px;
    height: 150px;
    object-fit: cover;
}

/*---------- Footer ----------*/
.footer{
    background-color: var(--dark-gray);
}

